
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;

}

.banner{
    position: relative;
    min-height: 100vh;
    background: url("./Picture/banner2.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:100px;
}

.banner h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
    line-height: 1.5em;

}

.banner h2 span{
    font-size:1.5em;
    font-weight:700;
}
.banner h3{
    font-size:1.5em;
    color:white;
    font-weight:500;
}
.btn{
    position: relative;
    border-radius: 5px;
    background:#2196f3;
    display: inline-block;
    color:#fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size:18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.btn:hover{
    background: #3369d6;
    color:black;
}
header{
    background-color: #2196f3;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 1000;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transform: 0.5s;
}

header .logo{
    color: #fff;
    font-size:35px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul{
    position: relative;
    display: flex;
    list-style: none;

}
header ul li a{
    font-size:30px;
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color:white;
    text-decoration: none;
}
header ul li a:hover{
    color:black;
    text-decoration:underline;
}
.social ul{
    position: relative;
    display: flex;
    list-style: none;
}
.social ul li a{
    font-size:30px;
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color:white;
    text-decoration: none;
}
.social ul li a:hover { 
    color: black;
}


.about{
    background: url("./Picture/bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.heading-about{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color:black;

}
.heading-about h2{
    padding-top: 20px;
    font-size: 50px;
    font-weight: 600;
}
.content{
    display: flex;
    justify-content: space-between;
}
.content-about {
    padding-right: 30px;
    padding-left: 30px;

}
.content-about h3{
    font-size:35px;
    margin-bottom: 0px;
}
.content-about p{
    font-size:24px;
}
.quotes{
    margin-top: 150px;
}
q{
    font-size:30px;
    font-style: italic;
}

.pic{
    
    margin-right: 30px;
    min-width: 50%;
}
img{
    max-width: 100%;
}
.skills{
    padding-top: 30px;
    background-image: url('./Picture/skillbg.jpg');
    color:white;
    background-size: cover;
    background-position: right;
}
.skill-item{
    justify-content: center;
    display:  inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;

}
.heading-skills h2 {
    font-size: 50px;
    font-weight: 600;
 
}
.heading-skills{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.heading-exp{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color:black;

}
.heading-exp h2{
    padding-top: 20px;
    font-size: 50px;
    font-weight: 600;
}